.main_page
{
    width: 1000px;
    margin: auto;
    text-align: center;
    align-content: center;
}
.menu
{
    text-align: center;
    background-color: aqua;
    max-width: 35%;
    margin: auto;
    text-align: center;
}